<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20151218001-UITableViewController-QQMessageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5A916C31C23F543007D7795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A916DC1C23F544007D7795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A916E71C23F544007D7795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
